body {
  font-family: "Roboto";
  margin: 0 auto; /* This sets top and bottom margin to 0 and left and right margin to auto */
  max-width: 1200px; /* This sets the maximum width of the content */
  background-color:antiquewhite; /* Optional background color */
  justify-content: center;
}

section {
  margin-bottom: 100px;
  text-align: center;
  /* border-bottom: solid; */
}

section h1 {
  font-size: 60px;
}

section p {
  line-height: 30px;
}

button {
  border-radius: 50px;
  background-color: transparent;
  border: solid red;
  cursor: pointer;
}

.navbar {
  display: inline-block;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  float: left;
  z-index: 1;
}

.navbar .onglets {
  margin-top: 16px;
  float: right;
  z-index: 10;
  align-items: center;
}

.onglets {
  display: flex;
  list-style: none;
  align-items: center;
}

.logo img {
  width: 3em;
  height: 3em;
}

.onglets li ul {
  /* margin: 0; */
  padding: 0;
  list-style: none;
  display: none;
}

.onglets li a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  display: block;
  gap: 2em;
}

.onglets li:hover ul {
  display: block;
  position: absolute;
}

.onglets li ul li {
  margin-top: 15%;
}

/*  */
.social-media {
  display: flex;
}

.social-media a img {
  width: 40px;
  height: 40px;
  margin: 6px;
  padding: 2px;
  border: solid red;
  border-radius: 50%;
  position: relative;
}

.image-container {
  position: relative;
  margin-bottom: 100px;
}

.image-container div button {
  display: inline;
}

.image-container img {
  max-width: 105%;
  max-height: auto;
}

.image-container .buttons {
  display: flex;
  gap: 80px;
}

.image-container .buttons button {
  font-size: 18px;
  height: 2.8em;
  width: 10em;
}

.image-container .buttons button:hover {
  background-color: red;
}

.overlay h1 {
  font-size: 50px;
}

.overlay p {
  font-size: 32px;
}

.overlay {
  position: absolute;
  top: 30%;
  left: 10%;
  padding: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
}

.right-side img {
  max-width: 90%;
  height: auto;
  left: 10%;
}

.no-underline {
  color: white; /* Change la couleur du texte en blanc */
  text-decoration: none; /* Supprime le soulignement du lien */
}

/*  */
.services .custom-list img {
  width: auto;
  max-height: 50px;
  color: red;
}

.services .custom-list {
  display: flex;
  justify-content: center;
}
.services .custom-list li {
  list-style: none;
  display: flex;
  height: 350px;
  width: 350px;
  margin-left: 50px;
  background-color: ghostwhite;
  border-radius: 10%;
}

.services .custom-list li {
  transition: transform 1.5s ease;
}

.services .custom-list .ctm-lst-img img {
  margin-top: 25%;
  margin-left: 30%;
  border-radius: 50%;
  transition: transform 1.5s ease;
  /* background-color: white; */
  /* padding: 20%; */
}

.services .custom-list li:hover .ctm-lst-img img {
  transform: rotateY(360deg);
  filter: invert(100%);
}

.services .custom-list li:hover {
  background-color: cadetblue;
}

/* @keyframes rotation {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
} */

.services .custom-list .ctm-txt {
  margin-top: 25%;
  margin-right: 10.5%;
}

.services .custom-list h3 {
  font-size: 25px;
}

.services h3 {
  font-size: 18px;
}

.line-1 {
  height: 5px;
  width: 70px;
  margin-top: 5%;
  margin-bottom: 5%;
  background: red;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

/*  */

.about .group {
  display: flex;
  gap: 5em;
  text-align: start;
}

.about .group .left-part img {
  width: 500px;
  height: auto;
}

.about .group .right-part {
  margin-top: 1.5em;
}

.about .group .right-part h1 {
  font-size: 30px;
}
.about .group .right-part p {
  font-size: 17.5px;
}

.about .group .right-part .right-part-info {
  display: flex;
  gap: 10em;
}

.about .group .right-part .right-part-info ul {
  list-style: none;
}

.about .group .right-part .right-part-info ul li {
  margin-bottom: 30px;
  margin-left: 0;
}

.about .group .right-part .right-part-info ul li strong {
  color: red;
}

.about .group .right-part .right-part-info ul li {
  font-size: larger;
}

/*  */
.portfolio div button {
  font-size: 15px;
  padding: 10px;
  font-weight: bolder;
  margin-left: 10px;
  margin-bottom: 50px;
}

.portfolio div button:hover {
  background-color: red;
  color: white;
}


.portfolio div ul{
  display: flex;
  width: 100%;
  list-style: none;
  gap: 2em;
}

.portfolio div ul li {
  position: relative;
}

.portfolio div ul li a{
  color: white;
  font-size: 50px;
  text-decoration: none;
  display: none;
}

.portfolio div ul li:hover a{
  display: block;
}

.portfolio div ul li:hover img{
  filter: blur(3.5px);
}

/*  */
.contact .info-part ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8em;
}

.contact .info-part ul li {
  background-color: ghostwhite;
  width: 20em;
  height: 6em;
  border-radius: 5px;
  display: flex;
}

.contact .info-part ul li div img {
  height: 40px;
  width: auto;
  display: inline;
  margin-left: 20%;
  margin-top: 20%;
  /* margin-right: 3em; */
}

.contact .contact-form {
  text-align: start;
  gap: 50px;
  width: 100%;
}

.contact .contact-form form input,
textarea {
  margin-bottom: 20px;
}

.contact .contact-form form textarea {
  width: 100%;
  font-size: 20px;
  font-family: "Roboto";
  padding-top: 1em;
}

.contact .contact-form .double-input {
  width: 100%;
  display: flex;
  gap: 2em;
}

.contact .contact-form input[type="text"] {
  width: 100%;
}
.contact .contact-form .double-input input {
  width: 50%;
}

.contact .contact-form form input {
  height: 3em;
}

.contact .contact-form form input,
.contact .contact-form form textarea {
  border-radius: 5px;
  border: 0;
  font-size: larger;
  padding-left: 1em;
}

.contact .contact-form form input[type="button"] {
  border-radius: 50px;
  background-color: transparent;
  border: solid red;
  cursor: pointer;
  width: 15%;
  text-align: center;
}

.contact .contact-form form input[type="button"]:hover{
  background-color: red;
  color: white;
}

